@media (max-width:980px) {
    .list {
        display: none;
    }

    .sidebartoggle {
        display: block;
        width: 22px;
        height: 22px;
        transform: 0.5s ease;
    }

    .spinner {
        height: 3px;
        margin-top: 4px;
        background: white;
    }

    #opensidebar:checked~.sidebartoggle>.spinner.middle {
        opacity: 0;
    }

    #opensidebar:checked~.sidebartoggle>.spinner.top {
        transform: rotate(135deg);
        margin-top: 8px;
    }

    #opensidebar:checked~.sidebartoggle>.spinner.bottom {
        transform: rotate(-135deg);
        margin-top: -9px;
    }

    #sidebarmenu {
        position: absolute;
        width: 100%;
        height: 70vh;
        background-color: #57606f;
        display: block;
        top: 0;
        left: 0;
        margin-top: 60px;
        transform: translateY(-80vh);
        transition: transform 0.5s ease;
        z-index: 10;
    }

    #opensidebar:checked~#sidebarmenu {
        transform: translateY(0);
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .menu li {
        list-style: none;
        padding: 15px 0;
        margin-top: 40px;
    }

    .menu li a {
        color: white;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        border-radius: 8px;
        padding: 12px 20px;

    }

    .menu li a:hover {
        color: #FC427B;
        border-color: #FC427B;
    }

    .home-contant {
        margin-top: 25%;
        transition: 0.5s eaase;
    }
}

@media (min-width:320px) and (max-width:480px) {
    .home-section {
        width: 100%;
        height: 100vh;
    }

    .home-contant {
        width: 300px;
    }

    .home-contant h3 {
        font-size: 16px;
    }

}

@media (min-width:481px) and (max-width:768px) {
    .home-section {
        width: 100%;
        height: 100vh;
    }

    .home-contant {
        width: 400px;
    }

    .btn {
        margin-top: 30px;
    }
}

/* -------------------About Section Screen 980px-------------------------- */
@media (max-width:980px) {}

/* <!-- -----------------Experiance Section-------------------- --> */
@media (max-width:980px) {
    .experiance {
        width: 100%;
        height: 100vh;
        background: #1e272e;
    }

    .exp-contant {
        flex-wrap: wrap;
        width: 80%;
        height: max-content;
        justify-content: space-evenly;
    }

    .exp-contant .item {
        margin: 20px 0;
        width: 80%;
        height: 100%;
    }
}

/* <!-- -----------------Service Section-------------------- --> */
@media (max-width:980px) {
    .service {
        height: max-content;
    }

    .service-contant {
        flex-wrap: wrap;
        width: 100%;
        height: max-content;
        justify-content: space-evenly;
    }

    .service-contant .service-item {
        margin: 20px 0;
        width: 80%;
        height: max-content;
    }
}


/* <!-- -----------------My Work Section-------------------- --> */
@media (max-width:980px) {
    .work {
        height: max-content;
    }

    .work-contant {
        flex-wrap: wrap;
        width: 80%;
        /* height: 100%; */
        justify-content: space-evenly;
    }

    .work-contant .work-items {
        margin: 20px 0;
        width: 80%;
        height: max-content;
    }

    #btn button {
        margin: 20px;
    }
}

/* <!-- -----------------Review Section-------------------- --> */
@media (max-width:980px) {
    .review-contant {
        width: 100%;
    }

    .review p {
        width: 60%;
        height: 60%;
        font-size: 1em;
    }
}

/* <!-- -----------------Contact Section-------------------- --> */
@media (max-width:980px) {
    .contact {
        height: max-content;
    }

    .contact-contant {
        flex-direction: column;
        width: 100%;
        background-color: #FC427B;
        align-items: center;
    }


    .contact-item {
        margin: 20px 0;
        width: 100%;
        height: 100%;
        align-items: center;
        /* margin: 0; */
        padding: 40px;
    }
    .contact-icon{
        position: relative;
        width: 60%;
        height: 60%;
        padding-bottom: 10px;
        padding-top: 0;
        top: -140px;
    }
    .left-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 100%;
        /* border: 2px solid #FC427B; */
    }
    .right-item{
        width: 80%;
        height: 100%;
        /* border: 2px solid #FC427B; */
    }
}